@use "../../utils/utils.scss" as *;

.ListForm {
  display: flex;
  padding: 15px 30px 30px 30px;
  justify-content: center;
  font-size: 16px;
  margin: 0;

  form {
    gap: 30px;
    text-align: center;
  }

  #buttondiv {
    display: flex;
    gap: 20px;
  }

  textarea {
    box-shadow: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    resize: none;
    min-height: 15vh;
    min-width: 25vw;
    border: none;
    background-color: #eef;
  }

  input {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: $accent;
    border: 0px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($accent, 10%);
    }
  }
}

@media screen and (max-width: 900px) {
  .ListForm {
    textarea {
      min-width: 60vw;
    }
  }
}

#clearformbutton {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: white;
  border: 2px solid $accent;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &:hover {
    background-color: #eef;
  }
}