@use "../../utils/utils" as *;

.Navbar {
  position: sticky;
  top: 0;
  display: flex;
  background: $accent;
  align-items: stretch;

  gap: 5%;

  div {
    display: flex;
    align-items: center;
    transition: all 0.2s linear;
    padding: 0px 1.5%;

    &:hover {
      background-color: $text;
      a {
        color: $accent;
      }
    }

    a {
      color: $text;
      text-decoration: none;
    }
  }

  svg {
    padding: 2%;
    font-size: 1.8rem;
  }

  .github-logo {
    margin-left: auto;
    margin-right: 20px;
  }

}
